.wrapper-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        padding: 40px 0 155px 0;
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}
.service-header_title h2{
    width: 306px;
}
.service-header-buttons button{
    font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #E06733;
    width: 161px;   
    padding:12px 40px;
}

/*CARDS*/

.service-main{
    display: flex;
    justify-content: space-between;
    gap:117px;
    flex-wrap: wrap;
    margin-top: 90px;
}

.service-main_card{
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}
.service-main_card_title{
      font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #E06733;
margin: 10px auto;
text-align: center;
}
.service-main_card_text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #717171;
text-align: center;
padding-bottom: 36px;
}

.service-main_card{
    cursor: pointer;
}