.wrapper-welcome {
    display: flex;
    justify-content: space-between;
  
    padding: 62px 0;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    
}

.green-text {
    color: #499A18;
}

.welcome-content_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-top: 42px;
    margin-bottom: 48px;
  
}
#learn-more_btn{
    margin:0;
}


